<!DOCTYPE html>
<html>
<head>
  <title>EdibleRecipe</title>
  <%= stylesheet_link_tag    "edible_recipe/application", :media => "all" %>
  <%= javascript_include_tag "edible_recipe/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
